@import "../app.component.scss";

.header {
    width: calc(100% - 5rem);
    margin-left: 5rem;
    z-index: 1;
    position: fixed;
    padding: 1rem 1.5rem 0 1.5rem;
    transition: all .5s ease;
    background: #f4f7fa;
    top: 0;

    .header-content {
        background-color: #fff;
        border-radius: 0.625rem;
        box-shadow: 0px 0px 10px 0px rgb(34 41 47 / 10%);
        padding: 0.813rem 1.563rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .class-hidden {
            animation: hidden_anim 200ms ease-in-out forwards;
            cursor: default;
        }

        .class-visible {
            animation: visible_anim 700ms ease-in-out forwards;
        }

        // .header-content-left {
        //     .search-container {
        //         position: relative;

        //         .normal-search {
        //             .search {
        //                 border: none;
        //                 height: 2.375rem;
        //                 padding-left: 2.5rem;
        //                 padding-right: 1.25rem;
        //                 background-color: #f3f3f9;
        //                 box-shadow: none;
        //                 border-radius: 1.875rem;
        //                 outline: 0;
        //             }

        //             .search-icon {
        //                 position: absolute;
        //                 font-size: 1rem;
        //                 line-height: 2.375rem;
        //                 left: 0.813rem;
        //                 top: 0;
        //                 color: #74788d;
        //             }
        //         }

        //         .search-menu-btn {
        //             font-size: 18px;
        //             height: 42px;
        //             width: 42px;
        //             cursor: pointer;
        //             border: 1px solid transparent;
        //             border-radius: 50%;
        //             outline: 0;
        //         }

        //         .search-menu-btn:hover,
        //         .search-menu-btn:focus {
        //             .search-icon {
        //                 color: #699dfa;
        //             }
        //         }
        //     }
        // }

        .header-content-center {

            display: flex;
            align-items: center;

            .logo-image {
                animation: visible 700ms ease-in-out forwards;
                align-items: center;
            }

            .logo-image-hidden {
                animation: hidden_anim 700ms ease-in-out forwards;
            }

            .logo-image-visible {
                animation: visible_anim 700ms ease-in-out forwards;
            }
        }

        .header-content-right {
            display: flex;
            align-items: center;

            .header-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 1.25rem;

                .header-menu-item {
                    .header-menu-item-btn {
                        font-size: 18px;
                        height: 42px;
                        width: 42px;
                        cursor: pointer;
                        border: 1px solid transparent;
                        border-radius: 50%;
                        margin-left: 10px;
                        outline: 0;
                        color: #495057;
                        transition: 275ms all ease-in-out;

                        .flag {
                            height: 17px;
                            border-radius: 3px;
                            margin-top: 2px;
                        }
                    }

                    .header-menu-item-btn:hover {
                        transform: scale(1.2);
                        animation: btnHover 200ms ease-in-out;
                    }

                    .header-menu-item-btn:active {
                        animation: btnPress 200ms ease-in-out;
                    }

                    .header-menu-item-btn:hover {
                        background-color: #eff2f3;

                        .menu-icon {
                            color: #699dfa;
                        }
                    }
                }
            }

            .header-user-avatar-container {
                margin-left: 20px;
                transition: 275ms all ease-in-out;

                .header-user-avatar {
                    position: relative;

                    .user-avatar {
                        margin-bottom: -4px;
                        width: 50px;
                        border-radius: 10px;
                        box-shadow: 0 0 15px rgb(35 35 35 / 15%);
                        cursor: pointer;
                    }
                }

                .circle-indicator {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    position: absolute;
                    top: -2px;
                    right: -3px;
                    background: #699dfa;

                    &.pulse {
                        animation: pulse-animation 1.2s infinite;
                    }

                    @keyframes pulse-animation {
                        0% {
                            box-shadow: 0 0 0 0 rgba(26, 104, 206, 0.6)
                        }

                        100% {
                            box-shadow: 0 0 0 13px rgba(17, 64, 126, 0)
                        }
                    }
                }
            }

            .header-user-avatar-container:hover {
                transform: scale(1.2);
                animation: btnHover 200ms ease-in-out;
            }

            .header-user-avatar-container:active {
                animation: btnPress 200ms ease-in-out;
            }
        }
    }
}

.header-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.header-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}


.overlay {
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
    border-radius: 0.25rem;
}

.centered-overlay {
    position: fixed;
    top: 35%;
    left: 45%;
    z-index: 999;
}

.overlay-fall {
    animation: fall 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes fall {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.overlay-user {
    margin-right: -1.5rem;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: #f4f7fa;

    .sideProfile-content {
        padding: 2rem;
        width: 350px;

        .common-content-css {
            padding: 0.3rem;
        }

        .common-block-css {
            border-radius: .5rem;
            background-color: #fff;
            margin-bottom: 1rem;

        }

        .sideProfile-up-content {


            .sideR-up-head {
                font-size: 20px;
                height: 3rem;
                padding: 1rem;
                color: #495057;
            }

            .sideR-up-dp {
                padding: 1rem;
                background-color: #fff;

                .sideR-up-dp-content {
                    padding: 1rem;
                    border-bottom: 1px solid #838383;

                    .sideR-up-dp-userDp {
                        display: block;
                        margin-right: auto;
                        margin-left: auto;
                        border-radius: 50%;
                        border: 3px #838383 solid;
                        height: 200px;
                    }
                }
            }

            .sideR-up-info {
                text-align: center;
                padding: 1rem;
                font-size: 18px;

                .userName {
                    font-size: 19px;
                }

                .userOtherInfo {
                    padding: 1rem;
                    color: #74788d;
                }
            }
        }
    }

}

.overlay-side-appear {
    animation: toLeft 350ms ease-in-out forwards;
    transform-origin: right center;
}

@keyframes toLeft {
    0% {
        transform: scaleX(0);
        opacity: 0;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}


.overlay-logOut-fall {
    animation: fall 300ms ease-in-out forwards;
    transform-origin: top center;
}

.overlay-notification {
    border-radius: 1rem;

    ul {
        list-style: none;
        width: 320px;

        li {
            padding: 1rem;

            &.notification-head-container {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .notification-head {
                    font-size: 15px;
                    color: #495057;
                }

                .view-all-link {
                    text-decoration: none;
                    font-size: 80%;
                    color: #699dfa;
                    cursor: pointer;
                }
            }

            &.notification-message-container {
                cursor: pointer;
                display: flex;

                i {
                    margin-right: 15px;
                    font-size: 20px;
                    color: #699dfa;
                    width: 25px;
                    text-align: center;
                }

                .notification-subject {
                    margin-bottom: 0.25rem;
                    font-size: 15px;
                    color: #495057;
                }

                .notification-desc {
                    font-size: 12px;
                    color: #74788d;
                }

                &:hover {
                    background: #eff2f3;
                }
            }
        }
    }
}

.overlay-logOut {
    border-radius: 1rem;
    background-color: #f4f7fa;

    .overlay-logOut-content {
        padding: 1rem;

        .overlay-logOut-ask {
            padding: 1rem;
            text-align: center;
            font-weight: 700;
            font-size: larger;

        }

        .overlay-logOut-buttons {
            padding: 1rem;
            display: flex;

            button {
                border-style: hidden;
                border-radius: 10px;
                cursor: pointer;
                padding: 1rem;
                font-weight: 600;
                transition: 275ms all ease-in-out;
            }

            button:hover {
                animation: btnHover 300ms ease-in-out forwards;
                background-color: #c3f1ff;
            }

            button:active {
                animation: btnPress 300ms ease-in-out forwards;
                background-color: #fff;
            }

            .overlay-logOut-OKbutton {
                padding: 1rem;


                .overlay-logOut-CancelButton {
                    padding: 1rem;

                }
            }
        }

    }
}