<h1>Requests</h1>

<div class="row">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label class="control-label" for="noOfRows">No. of Rows</label>
                            </div>
                            <div class="col-auto">
                                <select name="noOfRows" (change)="onTableSizeChange($event)"
                                    class="form-select form-select-sm">
                                    <option *ngFor="let size of tableSize">
                                        {{ size }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-auto">
                                <span>( Total Vendors: {{requests.length}} )</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-4 text-end">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#requestForum">Add Vendor</button>
                    </div> -->
                </div>
                <hr>
                <div class="table-responsive">
                    <div class="search-container">
                        <div *ngIf="!canShowSearchAsOverlay" class="normal-search" [ngClass]="search_visible()">
                            <input type="search" class="search" name="" id="" placeholder="Search..."
                                [(ngModel)]="searchText">
                            <i class="far fa-search search-icon"></i>
                        </div>
                        <div *ngIf="canShowSearchAsOverlay">
                            <button [cdkMenuTriggerFor]="searchOverlay" class="search-menu-btn ripple"
                                [ngClass]="search_hidden()">
                                <i class="far fa-search search-icon"></i>
                            </button>
                        </div>
                    </div>
                    <table class="table table-sm table-borderless table-responsive table-hover mt-2">
                        <thead class="">
                            <tr>
                                <th *ngFor="let data of sortData">
                                    <div class="th-content">
                                        <span>{{ data.label }}&nbsp;</span>
                                        <button type="button" class="btn btn-arrow"
                                            (click)="getClickFunction(data.label)">
                                            <i class="fas" [ngClass]="getNgClass(data.label)"></i>
                                        </button>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let request of requests  | search: searchText | orderBy: [sortType, sortDirection] | paginate : pagingConfig; let i = index">
                                <td>{{ request.requestID }}</td>
                                <td>{{ request.requestDate}}</td>
                                <td>{{ request.requestEmployeeID }}</td>
                                <td>{{ request.requestTitle }}</td>
                                <td>{{ request.requestDescription }}</td>
                                <td>
                                    <div [ngSwitch]="request.requestStatus">
                                        <span *ngSwitchCase="'Checked'" class="status status-operational">
                                            Checked
                                        </span>
                                        <span *ngSwitchCase="'Unchecked'" class="status status-not-operational">
                                            Unchecked
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <pagination-controls id="second" previousLabel="Prev" nextLabel="Next"
                (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </div>
    </div>
</div>

<!--Search Overlay/////////////////////////////////////////////////-->
<ng-template #searchOverlay>
    <div class="overlay overlay-search overlay-fall">
        <input type="search" class="search" name="" id="" placeholder="Search..." [(ngModel)]="searchText">
        <button class="search-btn">
            <i class="far fa-search search-icon"></i>
        </button>
    </div>
</ng-template>

<!--Modal Begins Here-->