<div class="row">
  <div class="card">
    <div class="card-header"></div>
    <div class="card-body">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-4">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="control-label" for="noOfRows">No. of Rows</label>
              </div>
              <div class="col-auto">
                <select name="noOfRows" (change)="onTableSizeChange($event)" class="form-select form-select-sm">
                  <option *ngFor="let size of tableSize">
                    {{ size }}
                  </option>
                </select>
              </div>
              <div class="col-auto">
                <span>( Total Assets: {{assets.length}} )</span>
              </div>
            </div>
          </div>
          <div class="col-4 text-end">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#requestForum">Request
              New</button>
          </div>
        </div>
        <hr>
        <div class="table-responsive">
          <div class="search-container">
            <div *ngIf="!canShowSearchAsOverlay" class="normal-search" [ngClass]="search_visible()">
              <input type="search" class="search" name="" id="" placeholder="Search..." [(ngModel)]="searchText">
              <i class="far fa-search search-icon"></i>
            </div>
            <div *ngIf="canShowSearchAsOverlay">
              <button [cdkMenuTriggerFor]="searchOverlay" class="search-menu-btn ripple" [ngClass]="search_hidden()">
                <i class="far fa-search search-icon"></i>
              </button>
            </div>
          </div>
          <table class="table table-sm table-borderless table-responsive table-hover mt-2">
            <thead class="">
              <tr>
                <th>Asset Image</th>
                <th *ngFor="let data of sortData">
                  <div class="th-content">
                    <span>
                      {{ data.label }}
                    </span>
                    <button type="button" class="btn btn-arrow" (click)="getClickFunction(data.label)">
                      <i class="fas" [ngClass]="getNgClass(data.label)"></i>
                    </button>
                  </div>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let asset of assets | search: searchText | orderBy: [sortType, sortDirection] | paginate : pagingConfig; let i = index">
                
                <td>
                  <div>
                    <img class="table-asset-img" [src]="asset.pictureUrl" alt="">
                  </div>
                </td>
                <td>{{ asset.assetID }}</td>
                <td>{{ asset.assetName }}</td>
                <td>{{ asset.assetType }}</td>
                <td>{{ asset.assetValue }}</td>
                <td>
                  <div [ngSwitch]="asset.assetStatus">
                    <span *ngSwitchCase="'Operational'" class="status status-operational">
                      Operational
                    </span>
                    <span *ngSwitchCase="'Not operational'" class="status status-not-operational">
                      Not operational
                    </span>
                  </div>
                </td>
                <td>{{ asset.assignedDate | date }}</td>
                <td>{{ asset.dueDate | date }}</td>
                <td><button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal"
                    data-bs-target="#requestForum">
                    View Asset Log
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card-footer text-end">
      <pagination-controls id="second" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>

<!-- The Modal -->
<div class="modal" id="requestForum">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Request Forum</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <form action="">
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
          </div>
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> Remember me
            </label>
          </div>
          <div class="mb-3">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
          </div>
        </form>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<!--Overlays-->

<!--Search Overlay/////////////////////////////////////////////////-->
<ng-template #searchOverlay>
  <div class="overlay overlay-search overlay-fall">
    <input type="search" class="search" name="" id="" placeholder="Search..." [(ngModel)]="searchText">
    <button class="search-btn">
      <i class="far fa-search search-icon"></i>
    </button>
  </div>
</ng-template>