<h1>Dashboard</h1>
<app-asset-list></app-asset-list>
<app-my-assets-table></app-my-assets-table>














<!-- <div class="card">
    <div class="card-head">Lorem ipsum - Dashboard</div>
    <div class="card-body">
        <div class="asset-header">
            <div class="asset-header-content">
                <i class="fas fa-file-invoice"></i>
                <h4 class="card-title">
                    Purchase assetrmation
                </h4>
            </div>
            <div class="options">
                <i class="fa-regular fa-bell"></i>
                <i class="fa fa-ellipsis-vertical"></i>
            </div>
        </div>
        <div class="asset-detail-wrapper">
            <div class="asset-details">
                <div>New Purchases</div>
                <span>250</span>
            </div>
            <div class="asset-details">
                <div>New Purchases</div>
                <span>250</span>
            </div>
            <div class="asset-details">
                <button class="btn">
                    Manage asset
                    <i class="fa fa-angle-right"></i>
                </button>

            </div>
        </div>


    </div>
</div> -->


<!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
