<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" *ngIf="!collapsed" (click)="toggleCollapse()">
            <i class="fas fa-solid fa-bars"></i>
        </button>
            <a class="logo bg-white" *ngIf="collapsed" href="https://corzent.com/">
                <img
                    src="../../assets/corzent-new-long-p-500.png"
                    height="30"
                    alt=""
                    loading="lazy"
                    class="logo-image"
                />
            </a>

        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
            >
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                    {{data.label}}
                </span>
            </a>
        </li>
    </ul>
</div>
